<template>
  <div class="uploader">
    <label class="uploader-label">
      Загрузить файлы
      <input
        class="uploader-input"
        type="file"
        name="files[]"
        @change="updateList"
        multiple>
    </label>
    <div class="uploader-previews">
      <div
        v-for="(file, index) in files"
        :key="index"
        class="uploader-box">
        <img
          class="uploader-image"
          :src="file">
        <!-- <div
          class="uploader-cross"
          @click="remove(index)">
          &times;
        </div> -->
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'file-uploader',
  props: ['value'],
  methods: {
    updateList (event) {
      this.files = []
      const files = event.target.files
      this.$emit('input', files)
      for (let key in files) {
        const file = files[key]
        const reader = new FileReader()
        if (file.toString() !== '[object File]') continue
        reader.onload = (file => {
          return event => {
            const encoded = event.target.result
            this.files.push(encoded)
            console.log(`[FileUploader] read file '${file.name}'`)
          }
        })(file)
        try {
          reader.readAsDataURL(file)
        } catch (e) {
          console.log(`[FileUploader] can't read file '${file.name}'`)
        }
      }
    },
    remove (index) {
      this.files.splice(index, 1)
    }
  },
  data () {
    return {
      files: []
    }
  }
}
</script>

<style scoped>
.uploader {}
.uploader-label {
  color: rgba(0,0,0,0.5);
  border-bottom: 1px dotted;
  cursor: pointer;
  transition: color 0.15s ease-in-out
}
.uploader-label:hover {
  color: rgba(0,0,0,0.75);
}
.uploader-input {
  display: none;
}
.uploader-previews {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
.uploader-cross {
  top: 0;
  right: 0;
  width: 16px;
  height: 16px;
  line-height: 16px;
  font-size: 14px;
  text-align: center;
  position: absolute;
  background: rgba(0,0,0,0.6);
  color: #ffffff;
  cursor: pointer;
  transition: all 0.15s ease-in-out;
  opacity: 0
}
.uploader-cross:hover {
  background: rgba(0,0,0,0.8);
}
.uploader-box {
  margin-top: 0.75rem;
  margin-right: 0.75rem;
  height: 100px;
  position: relative;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12)
}
.uploader-box:hover .uploader-cross {
  opacity: 1;
}
.uploader-image {
  height: 100%;
  display: block;
  object-fit: cover;
}
</style>
