<template>
  <div class="gallery">
    <div class="gallery-count">
      <span>{{ active + 1 }}</span> /
      <span>{{ total }}</span>
    </div>
    <div class="gallery-core" :class="{ loading }">
      <img
        :src="activeSrc"
        class="gallery-image"
        :class="{ 'hide': loading }"
        @load="loading = false"
      >
    </div>
    <div
      v-if="total > 1"
      @click="previous"
      class="gallery-arrow gallery-arrow--left"
      >
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 6 12">
        <path class="path" d="M6 2 1.7 6 6 10 5.1 10.9 0 6 5.1 1.1z"></path>
      </svg>
    </div>
    <div
      v-if="total  > 1"
      @click="next"
      class="gallery-arrow gallery-arrow--right"
    >
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 6 12">
        <path class="path" d="M6 2 1.7 6 6 10 5.1 10.9 0 6 5.1 1.1z"></path>
      </svg>
    </div>
  </div>
</template>

<script>
export default {
  name: 'gallery',
  props: ['source', 'media'],
  computed: {
    total () {
      return this.$props.media.length
    },
    activeSrc () {
      return this.sources[this.active]
    },
    sources () {
      const base = this.$props.source
      return this.$props.media.map(src => `${base}/${src}`)
    }
  },
  watch: {
    sources (list = []) {
      this.images = []
      list.forEach(src => {
        const img = new Image()
        img.src = src
        this.images.push(img)
      })
    }
  },
  methods: {
    previous () {
      const i = this.active + this.total - 1
      this.display(i % this.total)
    },
    next () {
      const i = this.active + 1
      this.display(i % this.total)
    },
    display (slide) {
      const min = 0
      const max = this.total
      if ((min <= slide) && (slide < max)) {
        this.loading = true
        this.active = slide
      }
    }
  },
  data () {
    return {
      active: 0,
      loading: true,
      images: []
    }
  }
}
</script>

<style scoped>
.gallery {
  position: relative;
  user-select: none;
}
.gallery-core {
  height: 100%;
  padding: 0.2rem;
  display: flex;
  align-items: center;
  background: #111111;
}
.gallery-image {
  margin: 0 auto;
  max-width: 100%;
  max-height: 490px;
  display: block;
  border-radius: 4px;
  object-fit: contain;
  opacity: 1;
  transition: opacity 0.15s ease-in-out;
}
.gallery-image.hide {
  opacity: 0;
}
.gallery-arrow {
  top: 0;
  width: 100px;
  height: 100%;
  padding-left: 27px;
  padding-right: 33px;
  position: absolute;
  display: block;
  cursor: pointer;
}
.path {
  fill: rgba(255,255,255,0);
  transition: background 0.15s ease-in-out;
}
.gallery-arrow:hover .path {
  fill: rgba(255,255,255,0.275);
}
.gallery-arrow svg {
  top: 50%;
  position: relative;
  transform: translateY(-50%);
}
.gallery-arrow--left {
  left: 0;
}
.gallery-arrow--right {
  right: 0;
  transform: rotate(180deg);
}
.gallery-count {
  top: 0.2rem;
  right: 0.2rem;
  padding: 0.2rem 0.5rem;
  font-size: 14px;
  font-weight: bold;
  background: rgba(255,255,255,0.375);
  color: #000;
  position: absolute;
  border-radius: 4px;
}
.loading {
  background-size: 35px;
  background-image: url(../assets/blue_loading.gif);
  background-repeat: no-repeat;
  background-position: center;
}
</style>
