<template>
  <div class='home'>

    <div class='searchbar'>
      <label>
        <gmap-autocomplete
          class='input'
          :value="inputValue"
          @focus.native="clearInput"
          @blur.native="fillInput"
          @place_changed='setPlaceAndFocus'
        />
        <button
          class='button'
          @click='createReport'>
          Создать пост
        </button>
      </label>
    </div>

    <GmapMap
      ref='mapRef'
      map-type-id='roadmap'
      :zoom='5'
      :style='mapStyleObject'
      :center='center'
      :options='mapOptions'
      @dblclick="dragendHandler">
      <GmapMarker
        v-for='report in reports'
        :key='report._id'
        :position='report.position'
        @click='showDetails(report)'
      />
      <GmapMarker
        v-if="currentPlace"
        icon="/static/map_mark.png"
        :draggable="true"
        :position='currentPlace'
        @dragend="dragendHandler"
      />
    </GmapMap>

    <ModalPost
      @deleted-post="deletePost"
    />
    <ModalCreatePost
      @created-post="updateList"
    />

  </div>
</template>

<script>
import api from '@/api'
import mapStyles from '@/helpers/mapStyles'
import ModalPost from './ModalPost'
import ModalCreatePost from './ModalCreatePost'

export default {
  name: 'home',
  components: {
    ModalPost,
    ModalCreatePost
  },
  computed: {
    mapStyleObject () {
      const b = document.body
      return {
        width: `${b.clientWidth}px`,
        height: `${b.clientHeight}px`
      }
    },
    inputValue () {
      if (!this.focused) {
        return this.currentPlace ? this.currentPlace.toString() : ''
      }
    }
  },
  created () {
    api.getAll(response => {
      this.reports = response.data
    })
  },
  mounted () {
    this.geolocate()
  },
  methods: {
    clearInput () {
      this.focused = true
    },
    fillInput () {
      this.focused = false
    },
    showDetails (report) {
      this.$modal.show('modal-post', report)
    },
    createReport () {
      this.$modal.show('modal-create-report', this.currentPlace)
    },
    setCenter () {
      this.center = { ...this.currentPlace }
    },
    setPlace (place) {
      this.currentPlace = place.geometry.location
    },
    setPlaceAndFocus (place) {
      this.setPlace(place)
      this.setCenter()
    },
    dragendHandler (place) {
      this.currentPlace = place.latLng
    },
    geolocate () {
      navigator.geolocation.getCurrentPosition(position => {
        const coords = position.coords
        this.currentPlace = {
          lat: coords.latitude,
          lng: coords.longitude
        }
        this.currentPlace.toString = function () {
          return `Мое местоположение`
        }
        this.setCenter()
      })
    },
    updateList (report) {
      this.reports.push(report)
    },
    deletePost (id) {
      const i = this.reports.findIndex(e => e._id === id)
      if (i !== -1) this.reports.splice(i, 1)
    }
  },
  data () {
    return {
      reports: [],
      mapOptions: {
        styles: mapStyles,
        mapTypeControl: false,
        streetViewControl: false,
        rotateControl: false,
        disableDoubleClickZoom: true
      },
      center: { lat: 48.098, lng: 29.345 },
      currentPlace: null,
      focused: false
    }
  }
}
</script>

<style scoped>
h1, h2 {
  font-weight: normal;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
.button,
.input {
  padding: 0.85rem 1.25rem;
  font-size: 14px;
  border: none;
  border-radius: 3px;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
}
.input {
  width: 410px;
}
.button {
  color: #ffffff;
  background: #f44336;
}
.searchbar {
  top: 10px;
  left: 10px;
  position: absolute;
  z-index: 1;
}
</style>
