<template>
  <modal
    name="modal-place-details"
    @before-open="beforeOpen">
    <div>{{ report }}</div>
  </modal>
</template>

<script>
export default {
  name: 'ModalPlaceDetails',
  props: ['place'],
  methods: {
    beforeOpen (event) {
      this.report = event.params
    }
  },
  data () {
    return {
      report: {}
    }
  }
}
</script>

<style scoped></style>
