<template>
  <modal
    name="modal-create-report"
    height="auto"
    @before-open="beforeOpen">
    <div class="modal">
      <h2 class="modal-title">Форма создания</h2>
      <form
        class="form"
        @submit.prevent="createPost">
        <div class="row form-group">
          <label class="col">Автор</label>
          <div class="col-2">
            <input
              class="input"
              v-model="report.author"
              type="text"
              name="author"
              placeholder="Автор">
          </div>
        </div>
        <div class="row form-group">
          <label class="col">Заголовок</label>
          <div class="col-2">
            <input
              class="input"
              v-model="report.title"
              type="text"
              name="title"
              placeholder="Заголовок">
          </div>
        </div>
        <div class="row form-group">
          <label class="col">Контент</label>
          <div class="col-2">
            <textarea
              class="input"
              v-model="report.post"
              name="post"
              rows="8"
              placeholder="Контент"
            />
          </div>
        </div>
        <div class="form-group">
          <FileUploader
            v-model="report.media"
          />
        </div>
        <div class="button-wrap">
          <div
            v-if="loading"
            class="loader">
            <img src="@/assets/spinner.gif">
          </div>
          <button v-else class="button">Создать</button>
        </div>
      </form>
    </div>
  </modal>
</template>

<script>
import api from '@/api'
import FileUploader from './FileUploader'
import { defaultReport } from '@/helpers/defaults'

export default {
  name: 'modal-create-report',
  components: { FileUploader },
  computed: {
    geo () {
      if (this.place) {
        const { lat, lng } = this.place
        return (typeof lat === 'function') ? `${lat()},${lng()}` : `${lat},${lng}`
      }
      return ''
    }
  },
  methods: {
    beforeOpen (event) {
      this.place = event.params
      this.report = {
        date: new Date(),
        position: this.geo,
        ...defaultReport
      }
    },
    createPost () {
      this.loading = true
      api.create(this.report, response => {
        this.$emit('created-post', response.data)
      }).then(() => {
        this.loading = false
        this.close()
      })
    },
    close () {
      this.$modal.hide('modal-create-report')
    }
  },
  data () {
    return {
      place: null,
      loading: false,
      report: {}
    }
  }
}
</script>

<style scoped>
.form {}
.form-group {
  margin-bottom: 0.75rem;
  align-items: baseline;
}
.modal {
  padding: 2rem 3rem;
}
.modal-title {
  margin-top: 0;
}
.input {
  width: 100%;
}
.button-wrap {
  text-align: right;
}
</style>
