<template>
  <modal
    name="modal-post"
    width="900"
    height="auto"
    @before-open="beforeOpen">
    <div class="modal">
      <div class="row">
        <div class="col col-2">
          <Gallery
            class="modal-gallery"
            :source="source"
            :media="report.media" />
        </div>
        <div class="col report">
          <p class="report-date">{{ report.date | moment('ddd, D MMM YYYY') }}</p>
          <h3 class="report-title">{{ report.title }}</h3>
          <hr class="report-hr" />
          <div class="report-text">{{ report.post }}</div>
          <hr class="report-hr" />
          <div class="row report-footer">
            <div class="col">
              <button
                class="report-delete"
                @click="deleteReport"
              >
                Удалить запись
              </button>
            </div>
            <div class="col report-author">{{ report.author }}</div>
          </div>
        </div>
      </div>
    </div>
  </modal>
</template>

<script>
import api from '@/api'
import Gallery from './Gallery'

export default {
  name: 'modal-post',
  components: { Gallery },
  methods: {
    beforeOpen (event) {
      this.report = event.params
    },
    deleteReport () {
      const id = this.report._id
      api.delete(id, response => {
        const data = response.data
        if (data.success) {
          this.$emit('deleted-post', id)
        }
      }).then(this.close)
    },
    close () {
      this.$modal.hide('modal-post')
    }
  },
  data () {
    return {
      report: {},
      // source: '/uploads'
      source: 'http://photo.falvaran.ru/uploads'
    }
  }
}
</script>

<style scoped>
.report {
  padding: 1rem;
  padding-right: 0;
  border-left: 1px solid rgba(0,0,0,0.2);
}
.report-footer {
  align-items: center;
  justify-content: space-between;
}
.report-title {
  margin-top: 6px;
  margin-bottom: 0;
  padding-right: 1.25rem;
}
.report-text {
  height: 350px;
  margin: 0;
  padding-right: 1.25rem;
  line-height: 1.7;
  overflow-y: auto;
}
.report-date {
  margin: 0;
  font-size: 14px;
}
.report-author {
  padding-right: 1.25rem;
  text-align: right;
  font-size: 14px;
}
.report-hr {
  width: 100%;
  height: 1px;
  margin: 14px 0;
  display: block;
  border: none;
  background: rgba(0,0,0,0.2);
}
.report-delete {
  padding: 0;
  border: none;
  background: none;
  outline: none;
  cursor: pointer;
  color: rgba(0,0,0,0.2);
  transition: color 0.15s ease-in-out;
}
.report-delete:hover {
  color: rgba(0,0,0,0.5);
}
.modal-gallery {
  height: 100%;
}
</style>
