<template>
  <div id="app">
    <router-view/>
  </div>
</template>

<script>
export default {
  name: 'App'
}
</script>

<style>
* {
  box-sizing: border-box;
}
html, body {
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
}
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}
.row {
  width: 100%;
  display: flex;
}
.col {
  flex: 1;
}
.col-2 {
  flex: 2;
}
.col-3 {
  flex: 3;
}
.button {
  text-transform: uppercase;
  outline: none;
  cursor: pointer;
}
.button,
.input {
  padding: 0.85rem 1.25rem;
  font-size: 14px;
  border: none;
  border-radius: 3px;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
}
.loader {
  height: 43px;
  display: inline-block;
  vertical-align: middle;
}
.loader img {
  width: 30px;
}
</style>
